Package: org.thebigboss.unlockvol
Name: UnlockVol
Depends: mobilesubstrate, firmware (>= 4.0), preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Allow adjusting ringer volume from lockscreen.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
